= link_to issue, class: 'label-group', title: "#{Issue.model_name.human} #{issue.state.text}", data: {toggle: 'tooltip', placement: 'top'} do
  = tag_label icon_w(:paw), :default
  = tag_label issue.name, bs_context(issue.state)
