= link_to master_project_path(project, user_id: user), method: :post, remote: true, id: "member-#{user.id}", class: 'list-group-item', data: {confirm: 'Are you sure to set/unset master?', disable_with: 'processing...'} do
  = user.name
  - if project.masters.include?(user)
    = badge 'master'
