= link_to release, class: 'label-group', title: release.stated, data: {toggle: 'tooltip', placement: 'top'} do
  = tag_label icon_w(:flag), :default
  = tag_label release.name, bs_context(release.state)
