span.label-group title="#{Release.model_name.human} #{release.state.text}" data-toggle="tooltip" data-placement="top"
  = tag_label icon_w(:flag), :default
  = tag_label release.name, bs_context(release.state)
