= link_to release, class: 'label-group', title: "#{Release.model_name.human} #{release.state.text.titlecase}", data: {toggle: 'tooltip', placement: 'top'} do
  = tag_label icon_w(:flag), :default
  = tag_label release.name, bs_context(release.state)
